/** Stylus Styles */

@import '../../../node_modules/vuetify/src/stylus/main'

/*------------------------------------------------------------------------------*/
.vue-calendar {
  display: grid;
  grid-template-rows: 10% 90%;
  background: #fff;
  margin: 0 auto
}

.calendar-header {
  align-items: center
}

.header-left,
.header-right {
  flex: 1
}

.header-center {
  flex: 3;
  text-align: center
}

.title {
  margin: 0 5px
}

.next-month,
.prev-month {
  cursor: pointer
}

.calendar-body {
  display: grid;
  grid-template-rows: 5% 95%
}

.days-header {
  display: grid;
  grid-auto-columns: 14.25%;
  grid-template-areas: "a a a a a a a";
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0
}

.days-body {
  display: grid;
  grid-template-rows: auto
}

.day-number {
  text-align: right;
  margin-right: 10px
}

.day-label {
  text-align: center;
  border-right: 1px solid #e0e0e0
}

.week-row {
  display: grid;
  grid-template-areas: "a a a a a a a";
  grid-row-gap: 5px;
  grid-auto-columns: 14.25%;
  border-left: 1px solid #e0e0e0
}

.week-day {
  padding: 4px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0
}

.week-day.disabled {
  background-color: #f5f5f5
}

.week-day.not-current>.day-number {
  color: #c3c3c3
}

.week-day.today>.day-number {
  font-weight: 700;
  color: red
}

.events {
  font-size: 12px;
  cursor: pointer;
  padding: 0 0 0 4px
}

.events .event {
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 4px 2px 0;
  color: rgba(0, 0, 0, .87);
  background-color: #d4dcec
}

.events .more-link {
  color: rgba(0, 0, 0, .38)
}
/*------------------------------------------------------------------------------*/


/* to properly indicate the input area of the 'info' field in a plan */
.textbox-recessed>div>textarea {
  background-color: white;
  padding: 2px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

.avatar > i, .material-icons {
  display: inline-flex !important;
}

.align-items-center {
  align-items: center;
}
.flex-direction-row {
  flex-direction: row;
}

.overflow-hidden {
  overflow: hidden;
}
.white-space-nowrap {
  white-space: nowrap;
}
.white-space-pre {
  white-space: pre;
}

.on-hover-only {
    display: none;
}
.show-on-hover:hover .on-hover-only {
    display: inline;
}
.invisible {
    display: none;
}

.youtube-link {
  text-decoration: none;
  color: red !important;
}

.w-100 {
  width: 100%;
}

.cursor-n-resize {
  cursor: n-resize;
}
.cursor-pointer {
  cursor: pointer;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
.checkbox>.input-group__details {
  min-height: initial;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
